@import "variables";
@import "mixins";

$row-height: 48px;

tbody {
	> tr {
		height: $row-height;

		&:hover {
			background-color: #eee;
			td {
				&.q-grid-text-area {
					> span {
						@include multiLine($lineCount: 3, $bgColor: #eee);
					}
				}
			}
		}

		&.q-grid-selected {
			background-color: $selected;
		}

		td {
			color: $dark;
			font-size: 13px;
			border-top: 1px solid $dark-divider;

			&.q-grid-select {
				md-checkbox {
					margin: 0;
				}
			}

			&.q-grid-selected {
				background-color: $selected;
			}

			padding: 0 16px;

			&.q-grid-highlight {
				&.q-grid-text-area {
					> span {
						@include multiLine($lineCount: 3, $bgColor: #eee);
					}
				}
			}

			&.q-grid-text-area {
				> span {
					display: block;
					white-space: normal;
					@include multiLine($lineCount: 3);
				}
			}
		}
	}
}
