@import "variables";
@import "mixins";

$row-height: 48px;

.viewport {
	table {
		tbody {
			> tr {
				height: $row-height;

				&:hover {
					background-color: #eee;
				}

				td {
					color: $dark;
					font-size: 13px;
					border-top: 1px $dark-divider solid;
					padding: 0 16px;
					position: relative;
					vertical-align: middle;
					text-align: left;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					> * {
						vertical-align: middle;
					}

					&.number {
						text-align: right;
					}

					&.bool {
						text-align: center;
					}

					&.password {
						text-align: center;
					}

					//&.text{
					//	> div{
					//		@include multiLine($lineCount: 3);
					//	}
					//}
				}
			}
		}
	}
}
