@import "variables";
@import "mixins";

$row-height: 48px;

.viewport {
	table {
		tbody {
			> tr {
				height: $row-height;

				&:hover {
					background-color: #eee;
					td{
						&.text-area {
							> span {
								@include multiLine($lineCount: 3, $bgColor: #eee);
							}
						}
					}
				}

				td {
					color: $dark;
					font-size: 13px;
					border:{
						width: 1px;
						color: transparent;
						style: solid;
						top-color: $dark-divider
					}
					padding: 0 16px;
					position: relative;
					vertical-align: middle;
					text-align: left;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					> * {
						vertical-align: middle;
					}

					&.number {
						text-align: right;
					}

					&.bool {
						text-align: center;
					}

					&.password {
						text-align: center;
					}

					&.text-area {
						> span {
							display: block;
							white-space: normal;
							@include multiLine($lineCount: 3);
						}
					}
					&.q-grid-focused {
                      background-color: lighten($gray, 4%);
					}
				}
			}
		}
	}
}
