.q-grid-column-chooser {
	ul {
		list-style-type: none;
	}

	md-input-container {
		margin: 0;
	}

	md-checkbox {
		margin: 0 0 10px 0;
	}

	.q-grid-column-chooser-list {
		margin-top: 5px;
		overflow-y: auto;
	}
}