@import "body";

.q-grid-viewport {
	table {
		tfoot {
			> tr {
				height: $row-height;

				td {
					color: $dark;
					font-size: 13px;
					border-top: 1px $dark-divider solid;

					vertical-align: middle;
					text-align: left;
					padding: 0 16px;
					overflow: hidden;
					position: relative;

					> * {
						vertical-align: middle;
					}
				}
			}
		}
	}
}
