@import "variables";

.q-grid-viewport {
	overflow: auto;
	font-family: $font-family;

	table {
		width: 100%;
		border-spacing: 0;
		overflow: hidden;
		table-layout: fixed;
	}
}

.q-grid-view {
	height: 100%;
}