@import "variables";

.viewport {
	thead {
		tr {
			height: 56px;
			th {
				color: $dark-secondary;
				font-size: 12px;
				font-weight: bold;
				white-space: nowrap;
				vertical-align: middle;
				text-align: left;
				padding: 0 16px;
				position: relative;
				width: 100px;

				> div {
					overflow: hidden;
					text-overflow: ellipsis;
					outline: none;
				}

				&.email {
					width: 180px;
				}

				&.password {
					width: 60px;
				}

				&.bool {
					width: 55px;
				}

				&.date {
					width: 80px;
				}

				&.number {
					width: 60px;
				}

				&.array {
					width: 200px;
				}

				&.row-indicator {
					width: 20px;
					min-width: 20px;
					max-width: 20px;
				}

				&:hover {
					label {
						font-weight: bold;
					}
				}

				> * {
					vertical-align: middle;
				}
			}
		}
	}
}
