@import "variables";

.q-grid-view {
	thead, tfoot {
		tr {
			height: 56px;
			th, td {
				border-left: 1px solid transparent;
				border-right: 1px solid transparent;

				&.q-grid-select {
					md-checkbox {
						margin: 0;
					}
				}

				color: $dark-secondary;
				font-size: 12px;
				font-weight: bold;
				padding: 0 15px;

				&:hover {
					label {
						font-weight: bold;
					}
				}
			}
		}
	}
}
