&.q-grid-box:not(.q-grid-drag) {
	tbody {
		td, tr {
			&.q-grid-highlight,
			&.q-grid-order {
				background-color: #eee;
			}

			&.q-grid-focus {
				border: 1px dashed #ddd;
			}
		}
	}
}

.q-grid-highlight-part {
	background-color: yellow;
	color: #000;
}