@import "variables";
@import "src/assets/mixins";

.q-grid-range-overlay{
	pointer-events: none;
	border: 1px solid darken($selected, 50%) ;
	position: absolute;
	background-color: $selected;

	@include user-select(none);
}