@import "assets/variables";

$border: 1px solid $dark-divider;

.viewport {
	thead {
		tr:last-child {
			th.pivot {
				border-bottom: $border;
			}
		}

		th.pivot {
			text-align: center;
			border-top: $border;
			border-left: $border;
			padding: 0;

			&:last-child{
				border-right: $border;
			}
		}
	}

	tbody{
		td.pivot {
			text-align: center;
		}
	}
}