.sortbar {
	height: 100%;

	ul {
		list-style-type: none;
		margin: 0;
		display: inline-block;

		li {
			display: inline-block;
		}
	}

	button {
		background: transparent;
		border: none;
		margin-right: 12px;
	}

	select {
		background: transparent;
		border: none;
	}
}
