@import "variables";

table {
	th:hover {
		.sort {
			visibility: visible;
		}
	}
}

.sort {
	position: absolute;
	display: inline;
	cursor: pointer;
	visibility: hidden;
	font-size: 12px;
	width: 16px;
	outline: none;
	border: none;
	background: transparent;
	padding: 0;
	left: 0;

	&.active {
		visibility: visible;
		md-icon {
			color: $dark;
		}

		& + label {
			color: $dark;
		}
	}

	md-icon {
		color: $dark-secondary;
		font-size: 16px;
		height: 16px;
		width: 16px;
		min-height: 16px;
		min-width: 16px;
	}
}