.q-grid-toolbar {
	&.q-grid-toolbar-top {
		height: 64px;
		position: relative;

		.q-grid-actions {
			.md-icon-button:last-child {
				margin-right: -15px;
			}
		}

		.q-grid-sortbar,
		.q-grid-pivotbar,
		.q-grid-groupbar {
			margin-right: 20px;
			white-space: nowrap;
			label {
				font-weight: bold;
			}
		}
	}

	&.q-grid-toolbar-bottom {
		height: 56px;
	}
	&.q-grid-toolbar-left {
		box-sizing: border-box;
		float: left;
		width: 150px;
		padding: 0 20px;
	}
	&.q-grid-toolbar-right {
		box-sizing: border-box;
		float: right;
		width: 150px;
		padding: 0 20px;
		ul {
			list-style: none;
			padding: 0;
			li {
				label {
					text-transform: capitalize;
					line-height: 20px;
					margin-left: 30px;
				}
				input[type=checkbox] {
					margin-right: 10px;
					+ label {
						margin-left: 0;
					}
				}
				ul {
					margin-left: 30px;
				}
			}
		}
	}
}