<q-grid:cell-editor class="q-grid-reference q-grid-editor" on:close="$view.edit.cell.exit.execute($cell)"
						  q-grid:position="td">
	<h2 class="md-title">Select {{::$cell.column.title}}</h2>
	<div ng-cloak
		  layout="column"
		  ng-controller="Body.Cell.Reference.Edit.Controller as $referenceEdit">
		<div class="flex">
			<q-grid class="q-grid-embed"
					  model="$referenceEdit.gridModel"
					  q-grid:autofocus>
				<q-grid:toolbar>
					<q-grid:template for="top">
						<div class="q-grid-progress">
							<q-grid:progress></q-grid:progress>
						</div>
					</q-grid:template>
				</q-grid:toolbar>
			</q-grid>
		</div>
	</div>
</q-grid:cell-editor>
