<div>{{$cell.value.name}}</div>
<md-button class="md-icon-button q-grid-file-download"
			  aria-label="file-download"
			  ng-if="$cell.value">
	<a href="{{$cell.dataUrl}}" download="{{$cell.value.name}}">
		<md-icon>file_download</md-icon>
		<md-tooltip>Download</md-tooltip>
	</a>
</md-button>
<md-button class="md-icon-button q-grid-file-edit"
			  aria-label="file-edit"
			  ng-click="$view.edit.cell.enter.execute($cell)">
	<md-icon>file_upload</md-icon>
	<md-tooltip>Upload</md-tooltip>
</md-button>