<div ng-style="{'padding-left': $view.group.offset($cell.row) + 'px'}">
	<md-button ng-mouseup="$view.group.toggleStatus.execute($cell.row)"
				  ng-if="$view.group.toggleStatus.canExecute($cell.row)"
				  ng-switch="$view.group.status($cell.row)"
				  tabindex="-1"
				  class="md-icon-button">
		<span>
			<md-icon class="q-grid-icon" ng-switch-when="expand">arrow_drop_down</md-icon>
			<md-icon class="q-grid-icon q-grid-arrow-right" ng-switch-when="collapse">arrow_drop_up</md-icon>
		</span>
	</md-button>
	<span class="q-grid-group-label">{{$view.group.value($cell.row)}}</span>
	<span class="q-grid-group-count" ng-if="$view.group.toggleStatus.canExecute($cell.row)">({{$view.group.count($cell.row)}})</span>
</div>