<q-grid:cell-editor class="q-grid-currency q-grid-editor q-grid-position" on:close="$view.edit.cell.exit.execute($cell)" q-grid:position="td">
	<md-input-container>
		<input type="number"
				 q-grid:focus
				 ng-model="$view.edit.cell.value"/>
	</md-input-container>
	<q-grid:validator class="q-grid-validator"
	                  key="{{::$cell.column.key}}"
	                  type="{{::$cell.column.type}}"
	                  value="$view.edit.cell.value">
	</q-grid:validator>
</q-grid:cell-editor>
