<div ng-click="$view.sort.toggle.execute($cell.column.key)">
	<div class="q-grid-sort"
		  ng-class="{'q-grid-active': $view.sort.order($cell.column.key) >= 0}"
		  ng-switch="$view.sort.direction($cell.column.key)">
		<md-icon class="q-grid-asc" ng-switch-when="asc">arrow_downward</md-icon>
		<md-icon class="q-grid-desc" ng-switch-when="desc">arrow_upward</md-icon>
		<md-icon ng-switch-default>arrow_downward</md-icon>
	</div>
	<label>
		<md-tooltip md-delay="1000">{{$cell.column.title}}</md-tooltip>
		{{$cell.column.title}}
	</label>
</div>
<q-grid:column-filter class="q-grid-column-filter" key="$cell.column.key">
</q-grid:column-filter>