<div ng-click="$cell.column.canSort && $view.sort.toggle.execute($cell.column)"
	  ng-mouseover="$view.sort.hover = true"
	  ng-mouseleave="$view.sort.hover = false"
	  tabindex="-1">
	<div class="q-grid-sort"
		  ng-class="{'q-grid-active': $view.sort.order($cell.column) >= 0}"
		  ng-if="$cell.column.canSort"
		  ng-switch="$view.sort.direction($cell.column)">
		<md-icon class="q-grid-icon q-grid-asc" ng-switch-when="asc">arrow_upward</md-icon>
		<md-icon class="q-grid-icon q-grid-desc" ng-switch-when="desc">arrow_downward</md-icon>
		<md-icon class="q-grid-icon" ng-switch-default ng-if="$view.sort.hover">arrow_downward</md-icon>
	</div>
	<label>
		<md-tooltip md-delay="1000">{{$cell.column.title}}</md-tooltip>
		{{$cell.column.title}}
	</label>
</div>
<q-grid:column-filter ng-if="$cell.column.canFilter"
							 class="q-grid-column-filter"
							 key="$cell.column.key"
							 title="{{$cell.column.title}}"
							 ng-class="{'q-grid-active': $view.filter.has($cell.column)}">
</q-grid:column-filter>