<div class="q-grid-column-filter-panel" layout="column" flex="100">
	<div flex="none" layout="row">
		<md-input-container class="q-grid-column-filter-filter">
			<label>Search</label>
			<input type="text"
					 ng-model="$columnFilterPanel.filter"
					 q-grid:focus/>
		</md-input-container>
	</div>
	<div flex>
		<ul>
			<li>
				<md-checkbox ng-click="$columnFilterPanel.toggleAll.execute()"
								 ng-checked="$columnFilterPanel.stateAll()"
								 md-indeterminate="$columnFilterPanel.isIndeterminate()">
					Select All
				</md-checkbox>
			</li>
			</li>
		</ul>
		<ul class="q-grid-column-filter-list">
			<li ng-repeat="item in $columnFilterPanel.items | filter: $columnFilterPanel.filter">
				<md-checkbox ng-checked="$columnFilterPanel.state(item)"
								 ng-if="$columnFilterPanel.toggle.canExecute(item)"
								 ng-click="$columnFilterPanel.toggle.execute(item)">
					<span ng-bind-html="item | qgridHighlight : $columnFilterPanel.filter"> </span>
				</md-checkbox>
			</li>
		</ul>
	</div>
	<div class="q-grid-column-filter-panel-actions" flex="none">
		<md-button ng-click="$columnFilterPanel.cancel.execute()">
			Cancel
		</md-button>
		<md-button ng-click="$columnFilterPanel.reset.execute()">
			Reset
		</md-button>
		<md-button class="md-primary"
					  ng-click="$columnFilterPanel.submit.execute()"
					  ng-disabled="!$columnFilterPanel.submit.canExecute()">
			Apply
		</md-button>
	</div>
</div>