<div class="q-grid-pager" ng-switch="$pagerPlugin.scroll.mode">
	<div ng-switch-when="virtual">
		<label class="q-grid-page" ng-switch="::$pagerPlugin.mode">
			<span ng-switch-when="row">{{$pagerPlugin.from}}-{{$pagerPlugin.to}} of {{$pagerPlugin.total}}</span>
			<span ng-switch-default>{{$pagerPlugin.current + 1}} of {{$pagerPlugin.totalPages}}</span>
		</label>
	</div>
	<div ng-switch-default>
		<label class="q-grid-page-size hide-xs">Rows per page:</label>
		<md-select aria-label="Page Size List"
					  tabindex="-1"
					  class="hide-xs q-grid-page-size"
					  ng-model="$pagerPlugin.size">
			<md-option ng-repeat="size in $pagerPlugin.sizeList" ng-value="size">{{size}}</md-option>
		</md-select>
		<label class="q-grid-page" ng-switch="::$pagerPlugin.mode">
			<span ng-switch-when="row">{{$pagerPlugin.from}}-{{$pagerPlugin.to}} of {{$pagerPlugin.total}}</span>
			<span ng-switch-default>{{$pagerPlugin.current + 1}} of {{$pagerPlugin.totalPages}}</span>
		</label>
		<md-button class="md-icon-button q-grid-prev-page"
					  ng-disabled="!$pagerPlugin.prev.canExecute()"
					  ng-click="$pagerPlugin.prev.execute();"
					  tabindex="-1">
			<md-icon>keyboard_arrow_left</md-icon>
		</md-button>
		<md-button class="md-icon-button q-grid-next-page"
					  ng-disabled="!$pagerPlugin.next.canExecute()"
					  ng-click="$pagerPlugin.next.execute();"
					  tabindex="-1">
			<md-icon>keyboard_arrow_right</md-icon>
		</md-button>
	</div>
</div>