<div ng-controller="Plugin.Edit.Form.Controller as $ctrl">
	<q-grid:popup id="q-grid-edit-form-popup-{{::$editForm.key}}"
					  class="q-grid-edit-form-popup">
		<q-grid:template for="trigger" let="[$editForm, $ctrl]">
			<md-button class="md-icon-button" ng-click="$popup.open({width: 550, height: 450, commands: $ctrl.commands})">
				<md-icon>edit</md-icon>
			</md-button>
		</q-grid:template>
		<q-grid:template for="body" let="[$editForm, $ctrl]">
			<q-grid:edit-form-panel editor="$editForm.editor">
			</q-grid:edit-form-panel>
			<div flex="none" class="q-grid-edit-form-actions">
				<md-button class="md-primary"
							  ng-init="$ctrl.$popupBody=$popupBody"
							  ng-click="$ctrl.commands.submit.execute()">
					Submit
				</md-button>
				<md-button ng-click="$ctrl.commands.cancel.execute()">
					Cancel
				</md-button>
			</div>
		</q-grid:template>
		<q-grid:template for="head" let="$editForm">
			<h2 class="md-title">{{$editForm.title}}</h2>
		</q-grid:template>
	</q-grid:popup>
</div>