<div layout="row">
	<div flex="100"
		  layout="row"
		  layout-align="start center"
		  layout-align-xs="start start"
		  layout-align-sm="start start"
		  layout-xs="column"
		  layout-sm="column">
	</div>
	<div class="q-grid-actions" flex="none" layout="row" layout-align="end center">
		<md-button ng-repeat="action in $actionBar.actions"
		           ng-click="action.command.execute()"
		           ng-disabled="!action.command.canExecute()"
		           class="md-icon-button">
			<md-tooltip>
				<span>{{action.title}}</span><span ng-if="action.command.shortcut"> ({{action.command.shortcut | uppercase}})</span>
			</md-tooltip>
			<md-icon ng-bind="action.icon"></md-icon>
		</md-button>
	</div>
</div>