<div class="q-grid-pager">
	<label class="q-grid-page-size">Rows per page:</label>
	<md-select class="q-grid-page-size"
				  ng-model="$pager.size">
		<md-option ng-repeat="size in $pager.sizeList" ng-value="size">{{size}}</md-option>
	</md-select>
	<label class="q-grid-page">{{$pager.from}}-{{$pager.to}} of {{$pager.total}}</label>
	<button class="q-grid-prev-page" ng-disabled="!$pager.prev.canExecute()" ng-click="$pager.prev.execute();">&lt;</button>
	<button class="q-grid-next-page" ng-disabled="!$pager.next.canExecute()" ng-click="$pager.next.execute();">&gt;</button>
</div>