<div class="q-grid-edit-form-panel" layout="column">
	<div class="layout-column flex q-grid-edit-form-panel-body">
		<div ng-repeat="editor in $editFormPanel.editor.editors">
			<q-grid:edit-form-editor editor="editor"></q-grid:edit-form-editor>
		</div>
	</div>
	<div class="flex-none q-grid-popup-actions">
		<md-button ng-click="$editFormPanel.cancel.execute()">
			Cancel
		</md-button>
		<md-button class="md-primary"
					  ng-click="$editFormPanel.submit.execute()">
			Save
		</md-button>
	</div>
</div>