<div class="q-grid-persistence-panel q-grid-popup-panel" layout="column" flex="100">
	<md-card>
		<md-card-header>
			<md-card-title>
				<md-card-title-text>
					<span class="md-subhead">Save/Load</span>
				</md-card-title-text>
				<md-card-title-actions layout="row" layout-align="end center">
				</md-card-title-actions>
			</md-card-title>
		</md-card-header>
		<md-card-content>
			<div flex="none" layout="row">
				<md-input-container class="q-grid-persistence-filter">
					<label>Save As...</label>
					<input type="text" 
							ng-model="$persistence.title" 
							q-grid:focus 
							q-grid:focus-delay="400" />
				</md-input-container>
			</div>
			<div class="flex">
				<md-radio-group>
					<md-list ng-cloak>
						<md-list-item class="md-2-line" ng-repeat="item in $persistence.items">
							<div class="md-secondary-container">
								<md-radio-button ng-model="item"></md-radio-button>									
							</div>
							<div class="md-list-item-text">
								<h3>{{item.title}}</h3>
								<p>{{item.modified | date: 'yyyy/MM/dd'}}</p>
							</div>
							<md-button class="md-secondary md-icon-button" aria-label="state item">
								<md-icon>close</md-icon>
							</md-button>
						</md-list-item>
					</md-list>
				</md-radio-group>

			</div>
			<div class="q-grid-popup-actions flex-none">
				<md-button ng-click="$persistence.cancel.execute()" md-prevent-menu-close>
					Cancel
				</md-button>
				<md-button class="md-primary" md-prevent-menu-close ng-click="$persistence.submit.execute()" ng-disabled="!$columnFilterPanel.submit.canExecute()">
					Apply
				</md-button>
			</div>
		</md-card-content>
	</md-card>
</div>