<div layout="row">
	<div flex="100"
		  layout="row"
		  layout-align="start center"
		  layout-align-xs="start start"
		  layout-align-sm="start start"
		  layout-xs="column"
		  layout-sm="column">
		<div>
			<q-grid:sortbar>
			</q-grid:sortbar>
		</div>
		<div>
			<q-grid:groupbar>
			</q-grid:groupbar>
		</div>
		<div>
			<q-grid:pivotbar>
			</q-grid:pivotbar>
		</div>
	</div>
	<div class="q-grid-actions" flex="none" layout="row" layout-align="end center">
		<div>
			<q-grid:popup id="q-grid-filte-popup">
				<q-grid:template for="trigger">
					<md-icon ng-click="$popup.open()">filter_list</md-icon>
				</q-grid:template>
				<q-grid:template for="body">
					<q-grid:expression-builder on:submit="$popup.close()"
														on:cancel="$popup.close()">
					</q-grid:expression-builder>
				</q-grid:template>
				<q-grid:template for="head">
					Filter
				</q-grid:template>
			</q-grid:popup>
		</div>
		<div>
			<q-grid:popup id="q-grid-column-chooser-popup">
				<q-grid:template for="trigger">
					<md-icon ng-click="$popup.open()">more_vert</md-icon>
				</q-grid:template>
				<q-grid:template for="body">
					<q-grid:column-chooser on:submit="$popup.close()"
												  on:cancel="$popup.close()">
					</q-grid:column-chooser>
				</q-grid:template>
				<q-grid:template for="head">
					Column Chooser
				</q-grid:template>
			</q-grid:popup>
		</div>
	</div>
</div>
<div class="q-grid-progress">
	<q-grid:progress>
	</q-grid:progress>
</div>