<div class="toolbar toolbar-top" layout="row">
	<div flex="100" layout="row" layout-align="start center">
		<div>
			<q-grid:sortbar></q-grid:sortbar>
		</div>
		<div>
			<q-grid:groupbar></q-grid:groupbar>
		</div>
		<div>
			<q-grid:pivotbar></q-grid:pivotbar>
		</div>
	</div>
	<div class="actions" flex="none" layout="row" layout-align="end center">
		<div>
			<md-button class="md-icon-button">
				<md-icon>filter_list</md-icon>
			</md-button>
		</div>
		<div>
			<md-button class="md-icon-button">
				<md-icon>more_vert</md-icon>
			</md-button>
		</div>
	</div>
</div>