<q-grid columns="$ctrl.columns"
		  rows="$ctrl.rows"
		  selection="$ctrl.selection"
		  selection-mode="check"
		  on:selection-changed="$ctrl.selectionChanged($event)">
	<q-grid:selection>
		<q-grid:template for="select-all">
			<label style="background-color: #f00;">
				<input type="checkbox" 
					q-grid:indeterminate="$selection.indeterminate()"
					ng-checked="$selection.state()"
					ng-click="$selection.toggle.execute()"
					ng-disabled="!$selection.toggle.canExecute()"/>
				Select All
			</label>
		</q-grid:template>
		<q-grid:template for="select">
			<label style="background-color: #0f0;">
				<input type="checkbox" 
					q-grid:indeterminate="$selection.indeterminate($row)"
					ng-checked="$selection.state($row)" 
					ng-click="$selection.toggle.execute($row)"
					ng-disabled="!$selection.toggle.canExecute($row)"/>
				Select {{$row.name.last}}
			</label>
		</q-grid:template>
	</q-grid:selection>
	<q-grid:toolbar>
		<q-grid:template for="top" let="$ctrl">
			<button ng-click="$ctrl.selectAll()">Select all</button>
			<button ng-click="$ctrl.selectTop10()">Select top 10</button>
			<button ng-click="$ctrl.deselectAll()">Deselect all</button>
		</q-grid:template>
	</q-grid:toolbar>
</q-grid>