<tr vscroll-mark="top" class="vscroll-mark">
	<td ng-repeat="$column in $view.body.defaultStrategy.columnList($table.pin) track by $column.model.key"
		 q-grid-core:td-align>
	</td>
</tr>
<tr ng-repeat="$row in $view.body.rows | vscroll: $view.scroll.y track by $index"
	 vscroll-row="{{::$index}}"
	 q-grid-core:tr="body">
	<td ng-repeat="$column in $view.body.columns($row, $table.pin) track by $column.model.key"
		 rowspan="{{$view.body.rowspan($row, $column.model)}}"
		 rowspan="{{$view.body.colspan($row, $column.model)}}"
		 q-grid-core:td>
	</td>
</tr>
<tr vscroll-mark="bottom" class="vscroll-mark">
</tr>