<tr class="q-grid-align">
	<td ng-repeat="$column in $view.body.render.defaultStrategy.columnList($table.pin) track by $column.model.key"
	    q-grid-core:td-align>
	</td>
</tr>
<tr ng-repeat="$row in $view.body.rows track by $index"
    q-grid-core:tr="body">
	<td ng-repeat="$column in $view.body.render.columns($row, $table.pin) track by $column.model.key"
	    rowspan="{{$view.body.render.rowspan($row, $column)}}"
	    colspan="{{$view.body.render.colspan($row, $column)}}"
	    q-grid-core:td>
	</td>
</tr>