<div class="wrapper">
    <q-grid-core:toolbar ng-if="$view.visibility.toolbar.top"
                         position="top"
                         class="dock-top">
    </q-grid-core:toolbar>
    <q-grid-core:toolbar ng-if="$view.visibility.toolbar.left"
                         position="left"
                         class="dock-left">
    </q-grid-core:toolbar>
    <div q-grid-core:viewport
         class="viewport dock-center">
        <table q-grid-core:table
               q-grid-core:selection
               class="mode-{{$view.mode}}">
            <thead ng-if="$view.visibility.head"
                   q-grid-core:head
                   q-grid-core:sticky
                   ng-include="$view.templateUrl('head')">
            </thead>
            <tfoot ng-if="$view.visibility.foot"
                   q-grid-core:foot
                   q-grid-core:sticky
                   ng-include="$view.templateUrl('foot')">
            </tfoot>
            <tbody ng-if="$view.visibility.body"
                   q-grid-core:body
                   ng-include="$view.templateUrl('body')">
            </tbody>
        </table>
    </div>
    <q-grid-core:toolbar ng-if="$view.visibility.toolbar.right"
                         position="right"
                         class="dock-right">
    </q-grid-core:toolbar>
    <q-grid-core:toolbar ng-if="$view.visibility.toolbar.bottom"
                         position="bottom"
                         class="dock-bottom">
    </q-grid-core:toolbar>
</div>
