page-details {

	md-card {
		margin: 0;
		md-card-content {
			padding: 0;
		}
	}

	.page-details-example + .page-details-doc {
		margin-top: 20px;
	}

	.page-details-doc {
		position: relative;
		background-color: #fff;

		> pre {
			padding: 1px 15px;
			overflow: hidden;
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
			background-color: #fff;
			white-space: normal;
		}
	}
}