<md-card class="page-details-example {{$ctrl.selection.path}}"
			ng-class="{'without-code': !$ctrl.isCodeVisible}"
			flex="100"
			ng-if="$ctrl.selection.code['html']">
	<div class="page-details-example-nav">
		<md-button class="md-icon-button" ng-click="$ctrl.isCodeVisible = !$ctrl.isCodeVisible">
			<md-icon>keyboard_arrow_left</md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="$ctrl.isCodeVisible = !$ctrl.isCodeVisible">
			<md-icon>keyboard_arrow_right</md-icon>
		</md-button>
	</div>

	<md-card-content flex="100" style="display: flex;padding: 5px 15px;" layout="column">
		<md-tabs md-selected="$ctrl.selectedTab" flex ng-if="$ctrl.isCodeVisible">
			<md-tab label="HTML">
				<div class="page-details-example-code">
					<pre ng-bind-html="$ctrl.selection.code['html'] | html"></pre>
				</div>
			</md-tab>
			<md-tab label="JAVASCRIPT">
				<div class="page-details-example-code">
					<pre ng-bind-html="$ctrl.selection.code['js'] | js"></pre>
				</div>
			</md-tab>
		</md-tabs>
		<ng-view flex></ng-view>
	</md-card-content>
</md-card>
<div class="page-details-doc markdown-body"
	  ng-if="$ctrl.selection.code['md']">
	<pre ng-bind-html="$ctrl.selection.code['md']"></pre>
</div>