page-details {

	.without-code {
		.q-grid-toolbar-top {
			padding-right: 45px;
		}
	}

	md-card {
		margin: 0;
		position: relative;
		md-card-content {
			padding: 0;
		}
	}

	.page-details-example-nav {
		position: absolute;
		right: 10px;
		top: 13px;
		z-index: 1;
	}

	.page-details-example {
		height: 100%;

		md-tabs {
			margin-top: 56px;
			md-tabs-wrapper {
				background-color: #3f51b5 !important;
				.md-tab {
					color: #ddd !important;
				}
			}
		}

		.page-details-example-code {
			overflow: auto;
			width: 100%;
			height: 100%;
			background-color: #f5f2f0;
			pre {
				margin: 1em;
			}
		}

		.page-details-example-tabs {
			position: absolute;
			bottom: 0;
			right: 0;
			.md-button {
				&.active {
					background-color: rgba(158, 158, 158, 0.2);
				}
			}
		}
	}

	.page-details-example + .page-details-doc {
		margin-top: 15px;
	}

	.page-details-doc {
		position: relative;
		background-color: #fff;

		> pre {
			padding: 1px 15px;
			overflow: hidden;
			box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
			background-color: #fff;
			white-space: normal;
		}
	}
}