page-details {

	@media (max-width: 959px) {
		.page-details-code {
			> div:first-child {
				margin-right: 0 !important;
			}

			> div:last-child {
				margin-left: 0 !important;
				margin-top: 40px !important;
			}
		}
	}

	> div {
		height: calc(100% - 20px);
		width: 100%;

		h2 {
			margin-top: 0;
		}

		&.home {
			.page-details-content {
				height: inherit;
				border: none;
			}
		}

		.page-details-content {
			border: 1px dashed #dfdfdf;
			height: 400px;
			padding: 0 10px;
		}

		.page-details-code {
			height: calc(100% - 450px);

			> div {
				min-height: 300px !important;
				position: relative;
				margin-top: 15px;

				&:first-child {
					margin-right: 10px;
				}

				&:last-child {
					margin-left: 10px;
				}

				label {
					margin: 0;
					position: absolute;
					right: 10px;
					top: 4px;
					color: #999;
					font-size: 10px;
				}

				pre {
					margin: 0;
					padding: 15px;
					height: 100%;
					overflow: auto;
					background: #f5f2f0;
				}
			}
		}
	}
}