<md-card class="page-details-example"
			ng-class="$ctrl.selection.path"
			flex="100"
			ng-if="$ctrl.selection.code['html']">
	<md-card-content flex="100" style="display: flex;padding: 5px 15px;">
		<md-tabs md-selected="$ctrl.selectedTab" flex="100">
			<md-tab label="GRID">
				<ng-view flex="100"></ng-view>
			</md-tab>
			<md-tab label="HTML">
				<div class="page-details-example-code">
					<pre ng-bind-html="$ctrl.selection.code['html'] | html"></pre>
				</div>
			</md-tab>
			<md-tab label="JAVASCRIPT">
				<div class="page-details-example-code">
					<pre ng-bind-html="$ctrl.selection.code['js'] | js"></pre>
				</div>
			</md-tab>
		</md-tabs>
	</md-card-content>
	<div class="page-details-example-tabs">
		<md-button ng-class="{active: !$ctrl.selectedTab}" ng-click="$ctrl.selectedTab = 0">GRID</md-button>
		<md-button ng-class="{active: $ctrl.selectedTab === 1}" ng-click="$ctrl.selectedTab = 1">HTML</md-button>
		<md-button ng-class="{active: $ctrl.selectedTab === 2}" ng-click="$ctrl.selectedTab = 2">JAVASCRIPT</md-button>
	</div>
</md-card>
<div class="page-details-doc markdown-body"
	  ng-if="$ctrl.selection.code['md']">
	<pre ng-bind-html="$ctrl.selection.code['md']"></pre>
</div>