<div class="qgrid theme-default" ng-cloak>
	<table>
		<thead>
		<tr>
			<th ng-repeat="$column in $ctrl.columns track by $index" class="{{::$column.key}}">
				<label>{{$column.title}}</label>
			</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="$row in $ctrl.rows track by $index">
			<td ng-repeat="$column in $ctrl.columns track by $index" class="{{::$column.key}}">
				{{$column.value ? $column.value($row) : $row[$column.key]}}
			</td>
		</tr>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
</div>