@import "../variables";
$border: 1px solid $dark-divider;
thead {
    tr:last-child {
        .q-grid-pivot {
            &th {
                border-bottom: $border;
            }
        }
    }
    .q-grid-pivot {
        &th {
            border-top: $border;
            border-left: $border;
            padding: 0;
            &:nth-last-child(2) {
                border-right: $border;
            }
        }
    }
}