&.q-grid-box:not(.q-grid-drag) {
    .q-grid-highlighted {
        &td,
        &tr {
            background-color: #eee;
        }
    }
}

.q-grid-highlight-part {
    background-color: yellow;
    color: #000;
}