
tbody {

	> tr {

		td {

			&.q-grid-file,
			&.q-grid-url,
			&.q-grid-email,
			&.q-grid-reference {
				> div {
					overflow: hidden;
					text-overflow: ellipsis;
					outline: none;
				}

				.q-grid-file-edit,
				.q-grid-url-edit,
				.q-grid-email-edit,
				.q-grid-reference-edit {
					right: 0;
				}

				.q-grid-file-download {
					right: 16px;
				}
			}
		}
	}
}
