td.q-grid-edit {

	.q-grid-editor {
		&.q-grid-number {
			md-input-container + .q-grid-validator {
				position: absolute;
				top: 53px;
				left: 41px;
			}
		}
	}
}

@at-root .q-grid-file-upload-area {
	.q-grid-file-upload-message {
		md-icon {
			margin: 0 5px;
		}
	}
}

@at-root .q-grid-autocomplete-menu {
	z-index: 101;
}