<tr ng-if="$view.mode === 'group'"
	 class="node"
	 ng-repeat="$node in $view.nodes track by $index">
	<td ng-style="{'padding-left': $row.offset + 'px'}"
		 q-grid-core:node>
	</td>
	<td ng-repeat="$column in $view.columns track by $index"
		 class="{{::$column.key}}"
		 q-grid-core:td>
	</td>
</tr>
<tr ng-if="$view.mode === 'row'"
	 class="row"
	 ng-repeat="$row in $view.rows track by $index">
	<td ng-repeat="$column in $view.columns track by $index"
		 class="{{::$column.key}}"
		 q-grid-core:td>
	</td>
</tr>