<tr ng-repeat="$row in $view.body.rows track by $index"
	 ng-class="{'q-grid-selected': $view.selection.state($row).isSelected}">
	<td ng-repeat="$column in $view.body.columns track by $column.model.key"
		 ng-if="$column.model.isVisible !== false"
		 q-grid-core:td>
	</td>
</tr>

<!--<tr ng-repeat="$row in $view.body.rows track by $index"
	 ng-class="{'selected': $view.selection.unit('row') && !$view.selection.mode('checkbox') && $view.selection.state($row)}"
	 ng-click="$view.selection.unit('row') && !$view.selection.mode('checkbox') && $view.selection.toggle.execute($row)">
	<td ng-repeat="$column in $view.body.columns track by $column.model.key"
		 ng-class="[
			$column.model.key, 
			$column.model.type, 
		 	{
				 'selected': $view.selection.unit('column') && $view.selection.state($column) ||
								 $view.selection.unit('cell') && $view.selection.state($cell),
			}]"
		 ng-click="$view.selection.unit('column') && $view.selection.toggle.execute($column) || 
		 			  $view.selection.unit('cell') && $view.selection.toggle.execute($cell)"
		 ng-if="$column.model.isVisible !== false"
		 q-grid-core:td>
	</td>
</tr>-->