@import "variables";
@import "mixins";

$row-height: 48px;

.viewport {
  table {
    tbody {
      > tr {
        height: $row-height;

        &:hover {
          background-color: $gray;
          &:hover {
            background-color: $gray;
            td {
              &.text-area {
                > span {
                  @include multiLine($lineCount: 3, $bgColor: $gray);
                }
              }
            }
          }
        }

        td {
          color: $dark;
          font-size: 13px;
          border: {
            width: 1px;
            color: transparent;
            style: solid;
            top-color: $dark-divider
          }
          padding: 0 12px;

          vertical-align: middle;
          text-align: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          > * {
            vertical-align: middle;
          }

          &.number {
            text-align: right;
          }

          &.bool {
            text-align: center;
          }

          &.password {
            text-align: center;
          }

          &.text-area {
            > span {
              display: block;
              white-space: normal;
              @include multiLine($lineCount: 3);
            }
          }
          &.focused {
            background-color: lighten($gray, 4%);
          }
        }
      }
    }
  }
}
