td.q-grid-edit {
	position: relative;

	input {
		border: none;
		box-sizing: border-box;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}

	input[type="text"],
	input[type="number"],
	input[type="password"] {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		border: none;
		box-sizing: border-box;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	}
}
