@import "variables";
@import "scroll";

@include scroll();

.q-grid-view {
	height: 100%;
	.q-grid-viewport {
		overflow: auto;
		font-family: $font-family;

		table {
			width: 100%;
			border-spacing: 0;
			overflow: hidden;
			table-layout: fixed;
		}
	}
}