@import "variables";

$border: 1px solid $dark-divider;

.q-grid-viewport {
	thead {
		tr:last-child {
			th.pivot {
				border-bottom: $border;
			}
		}

		th.q-grid-pivot {
			text-align: center;
			border-top: $border;
			border-left: $border;
			padding: 0;

			&:last-child{
				border-right: $border;
			}
		}
	}

	tbody{
		td.q-grid-pivot {
			text-align: center;
		}
	}
}