// Typography
$font-family: Roboto, 'Helvetica Neue', sans-serif !default;

// Colors
$dark: rgba(0, 0, 0, 0.87);
$dark-secondary: rgba(0, 0, 0, 0.54);
$dark-divider: rgba(0, 0, 0, 0.12);
$indigo-500: #3F51B5;

// Primary theme colors
$primary: $indigo-500;


// Actions
$focused: $primary;