<q-grid header="{{::$details.title}}" 
		rows="$ctrl.rows"
		columns="$ctrl.columns"
		model="$ctrl.gridModel">

	<q-grid:columns>
		<q-grid:column>
			<q-grid:template for="head">
				<b>{{$cell.column.title}}</b>
			</q-grid:template>
			<q-grid:template for="body">
				<div ng-style="{'background-color': $cell.value}"
					  style="width: 10px; height: 10px;">
				</div>
			</q-grid:template>
		</q-grid:column>
	</q-grid:columns>

	<q-grid:toolbar>
		<q-grid:template for="top" let="$ctrl">
			<q-grid:title></q-grid:title>
			<md-button ng-click="$ctrl.addColumn()">Add Column</md-button>
			<md-button ng-click="$ctrl.clear()">Remove Columns</md-button>
		</q-grid:template>
	</q-grid:toolbar>

</q-grid>
