<q-grid header="{{::$details.title}}" rows="$ctrl.rows">
	<q-grid:columns generation="deep"></q-grid:columns>
	<q-grid:toolbar>
		<q-grid:template for="right">
			<q-grid:column-chooser>
			</q-grid:column-chooser>
		</q-grid:template>
		<q-grid:template for="left">
			<q-grid:visibility>
			</q-grid:visibility>
		</q-grid:template>
	</q-grid:toolbar>

	<q-grid:visibility toolbar.left="true"
							 toolbar.right="true"
							 toolbar.top="true"
							 toolbar.bottom="true">
	</q-grid:visibility>
</q-grid>