tr {
	th {
		.divider {
			top: 15px;
			height: 50%;
			width: 4px;
			margin-left: -4px;
			z-index: 2;
			background: transparent;
			position: absolute;
			visibility: hidden;
		}
	}

	th + .divider {
		border-left: 1px solid rgba(0, 0, 0, 0.12);
		cursor: col-resize;
	}

	&:hover {
		.divider {
			visibility: visible;
		}
	}
}


