$size: 16px;

theme-selector {
	md-menu {
		width: $size;
		height: $size;
		min-width: $size;
		min-height: $size;
		> .md-button.md-icon-button {
			width: $size;
			height: $size;
			min-width: $size;
			min-height: $size;
			margin: 0;
			padding: 0;
			border-radius: $size;
			md-icon {
				color: #fff;
				width: $size;
				height: $size;
				min-width: $size;
				min-height: $size;
				font-size: $size;
			}
		}
	}
}