<div layout="column">
	<div flex="none" class="page-list-actions">
		<md-list>
			<md-list-item>
				<md-input-container>
					<input type="text"
							 ng-click="$event.stopImmediatePropagation();"
							 ng-model="$ctrl.filterText"
							 placeholder="Search"/>
				</md-input-container>
			</md-list-item>
		</md-list>
	</div>
	<div flex class="page-list-items">
		<md-list ng-repeat="node in $ctrl.items | filter: $ctrl.filter track by node.title">
			<md-subheader ng-if="node.items">
				<span ng-bind-html="node.title | qgridHighlight : $ctrl.filterText"></span>
			</md-subheader>

			<md-list-item id="{{::node.path}}"
							  ng-if="node.path"
							  ng-class="{selected: node === $ctrl.selection}">
				<md-tooltip md-delay="500">
					{{::node.title}}
				</md-tooltip>
				<md-button ng-disabled="!node.code.html && !node.code.md"
							  ng-click="$ctrl.select(node)"
							  aria-label="Group Link"
							  ng-bind-html="node.title | qgridHighlight : $ctrl.filterText">
				</md-button>
			</md-list-item>

			<md-list-item id="{{::item.path}}"
							  ng-if="node.items"
							  ng-repeat="item in node.items | filter: $ctrl.filterText"
							  ng-class="{selected: item === $ctrl.selection}">
				<md-tooltip md-delay="500">
					{{::item.title}}
				</md-tooltip>
				<md-button ng-disabled="!item.code.html && !item.code.md"
							  ng-click="$ctrl.select(item)"
							  aria-label="Topic Link"
							  ng-bind-html="item.title | qgridHighlight : $ctrl.filterText">
				</md-button>
			</md-list-item>

		</md-list>
	</div>
</div>