<q-grid header="{{::$details.title}}"
		  model="$ctrl.model"
		  rows="$ctrl.rows"
		  selection-mode="multiple"
		  selection-unit="cell"
		  selection-key="$ctrl.selectionKey"
		  on:selection-changed="$ctrl.selectionChanged($event)">
	<q-grid:columns generation="deep">
		<q-grid:column type="select" editor-options="{trigger: 'click'}" can-edit="false">
			<q-grid:template for="head">
				<md-checkbox md-indeterminate="$view.selection.isIndeterminate()"
								 ng-checked="$view.selection.state()"
								 ng-click="$view.selection.toggleRow.execute(null)"
								 class="md-warn"
								 aria-label="Selection"/>
			</q-grid:template>
			<q-grid:template for="body">
				<md-checkbox ng-checked="$view.selection.state($row)"
								 ng-click="$view.selection.toggleRow.execute($row)"
								 class="md-warn"
								 aria-label="Selection"/>
			</q-grid:template>
		</q-grid:column>
	</q-grid:columns>

	<q-grid:toolbar>
		<q-grid:template for="top">
			<div class="layout-row">
				<div>
					<q-grid:title></q-grid:title>
				</div>
				<div>
					<q-grid:selection-bar>
				</div>
			</div>
			</q-grid:selection-bar>
		</q-grid:template>
		<q-grid:template for="left" let="$ctrl">
			<h4>Selection</h4>
			<ul style="list-style: none;">
				<li ng-repeat="entry in $ctrl.selection">{{entry}}</li>
			</ul>
		</q-grid:template>
	</q-grid:toolbar>

	<q-grid:visibility toolbar.left="true">
	</q-grid:visibility>
</q-grid>
