@import "variables";

$row-height: 48px;

.viewport {
	table {
		tbody {
			> tr {
				height: $row-height;

				&:hover {
					background-color: #eee;
				}
						
				&.selected {
					background-color: $selected;
				}

				td {
					color: $dark;
					font-size: 13px;
					border-top: 1px $dark-divider solid;
					padding: 0 12px;

					vertical-align: middle;
					text-align: left;

					> * {
						vertical-align: middle;
					}

					&.number {
						text-align: right;
					}

					&.bool {
						text-align: center;
					}

					&.selected {
						background-color: $selected;
					}
				}
			}
		}
	}
}
