@import "variables";

.viewport {
  max-height: calc(50vh - 160px);
  overflow: auto;
  font-family: $font-family;

  table {
    width: 100%;
    border-spacing: 0;
    overflow: hidden;
  }
}

.flexible {
  display: flex;
  flex-flow: row wrap;
  .viewport {
    flex: 3 0 auto;
  }
}