@import "variables";

.viewport {
	thead {
		tr {
			height: 56px;
			th {
				color: $dark-secondary;
				font-size: 12px;
				font-weight: bold;
				white-space: nowrap;
				vertical-align: middle;
				text-align: left;
				padding: 0 12px;
				position: relative;
				overflow: hidden;

				&:hover{
					label {
						font-weight: bold;
					}
				}

				> * {
					vertical-align: middle;
				}
			}
		}
	}
}
