@import "variables";

.qgrid.theme-material {
	.viewport {
		table {
			thead {
				tr {
					height: 56px;
					th {
						color: $dark-secondary;
						font-size: 12px;
						font-weight: bold;
						white-space: nowrap;
						vertical-align: middle;
						text-align: left;

						> * {
							vertical-align: middle;
						}

						&:last-child {
							padding: 0 24px 0 0;
						}

					}
				}
			}
		}
	}
}