<q-grid rows="$ctrl.rows"
		  columns="$ctrl.columns"
		  model="$ctrl.gridModel">

	<q-grid:columns>
		<q-grid:column key="$default">
			<q-grid:template for="head">
				<b>{{$cell.column.title}}</b>
			</q-grid:template>
			<q-grid:template for="body">
				<div ng-style="{'background-color': $cell.value}"
					  style="width: 10px; height: 10px;">
				</div>
			</q-grid:template>
		</q-grid:column>
	</q-grid:columns>

	<q-grid:toolbar>
		<q-grid:template for="top" let="$ctrl">
			<button ng-click="$ctrl.addColumn()">Add Column</button>
			<button ng-click="$ctrl.clear()">Remove Columns</button>
		</q-grid:template>
	</q-grid:toolbar>

</q-grid>
