@import "../variables";
@import "mixins";

$row-height: 48px;

tbody {
	border-collapse: separate;

	> tr {
		height: $row-height;

		&:hover {
			td {
				&.q-grid-text-area {
					> span {
						@include multiLine($lineCount: 3, $bgColor: #eee);
					}
				}
			}
		}

		&.q-grid-selected {
			background-color: $selected;
		}

		td {
			color: $dark;
			font-size: 13px;
			border-top: 1px solid $dark-divider;
			padding: 0 16px;

			&.q-grid-array {
				ul {
					list-style: none;
					margin: 0;
					padding: 0;
					overflow: hidden;
					li {
						display: inline-block;
						min-width: 16px;
						padding: 4px 8px;
						text-align: center;
						white-space: nowrap;
						vertical-align: middle;
						background-color: rgb(224, 224, 224);
						border-radius: 16px;
						margin-right: 4px;
					}
					li:last-child {
						margin-right: 0;
					}
				}
			}

			&.q-grid-selected:not(.q-grid-focus),
			&.q-grid-sorted {
				background-color: $selected;
			}

			&.q-grid-highlighted {
				&.q-grid-text-area {
					> span {
						@include multiLine($lineCount: 3, $bgColor: #eee);
					}
				}
			}

			&.q-grid-text-area {
				> span {
					display: block;
					white-space: normal;
					@include multiLine($lineCount: 3);
				}
			}

			&.q-grid-file,
			&.q-grid-url,
			&.q-grid-email,
			&.q-grid-reference {
				> div {
					overflow: hidden;
					text-overflow: ellipsis;
					outline: none;
				}

				.q-grid-file-edit,
				.q-grid-url-edit,
				.q-grid-email-edit,
				.q-grid-reference-edit {
					right: 0;
				}

				.q-grid-file-download {
					right: 16px;
				}
			}

			&.q-grid-file {
				padding: 0 32px 0 16px;
			}

			&.q-grid-image {
				text-align: center;

				img {
					max-height: 100%;
					max-width: 100%;
				}
			}

			&.q-grid-row-details {
				background: #fff;
			}
		}
	}
}
