@import "../variables";

.q-grid-view {
	thead, tfoot {
		tr {
			height: 56px;
			th {
				&.q-grid-can-sort {
					label {
						cursor: pointer;
					}
				}
			}

			th, td {
				label {
					display: inline;
				}

				color: $dark-secondary;
				font-size: 12px;
				font-weight: bold;
				padding: 0 16px;

				&:hover {
					label {
						font-weight: bold;
					}
				}
			}
		}
	}
}
