@import '../src/assets/scroll';

html, body {
	font-family: Roboto, 'Helvetica Neue', sans-serif;
	font-size: 14px;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu {
	background-color: transparent;
	border: none;
	height: 38px;
	margin: 16px;
	width: 36px;
}

#github {
	float: right;
	img {
		width: 16px;
		height: 16px;
	}
}

#theme-selector {
	float: right;
	margin-right: 5px;
	margin-top: -2px;
}

md-sidenav {
	h1 {
		font-size: 1.250em;
		font-weight: 400;
		color: #fff;
		padding: 8px 16px 0 16px;
		background-color: #267ED5;
		margin: 0;
		height: 22px;

		a {
			text-decoration: none;
			color: #fff;
		}
	}

	overflow: hidden !important;
	width: 270px !important;
	background: #106CC8;

	page-list {
		height: calc(100% - 30px);
	}
}

md-toolbar {
	background-color: #267ED5 !important;
	display: none !important;
	h1 {
		margin: auto;
		font-size: 1.250em;
		font-weight: 400;
	}
}

@media (max-width: 959px) {
	md-toolbar {
		display: flex !important;
	}
	#content {
		padding: 5px 10px !important;
	}
}

.q-grid-highlight-part {
	background-color: yellow;
	color: #000;
}

#content {
	overflow-y: auto;
	padding: 10px 20px;

	@include scroll();
}

.dialog-grid {
	overflow-y: auto;
	padding: 10px 20px;
	height: 100%;

	md-toolbar {
		display: flex !important;
	}

	md-dialog-content {
		overflow: hidden;
	}
}

.tab-control {
	md-tabs {
		height: calc(100% - 60px);
	}
}