<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700">
	<link  rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<style>
		body[ng-cloak] {
			display: none;
		}
	</style>
</head>
<body ng-cloak layout="column" ng-controller="Demo.Controller as $ctrl">

<md-toolbar layout="row" class="md-toolbar-tools">
	<md-button class="menu md-icon-button"
				  ng-cloak
				  hide-gt-sm
				  ng-click="$ctrl.toggleMenu()"
				  aria-label="Show example list">
		<md-icon>menu</md-icon>
	</md-button>
	<h1>qgrid examples</h1>
</md-toolbar>

<div flex layout="row">

	<md-sidenav class="md-whiteframe-4dp"
					md-is-locked-open="$mdMedia('gt-sm')"
					md-component-id="left"
					ng-click="$ctrl.toggleMenu()">
		<example-list
			model="$ctrl.examples"
			selection="$ctrl.selection"
			on-selected="app.select(example)">
		</example-list>
	</md-sidenav>

	<ng-view></ng-view>
	<md-content flex id="content">
		<example-details model="$ctrl.selection"></example-details>
	</md-content>
</div>

</body>
</html>

<script src="http://localhost:3030/scripts/bundle.js"></script>