<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
	<title>qgrid examples</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" href="./dist/demo.css">
	<style>
		body[ng-cloak] {
			display: none;
		}
	</style>
</head>
<body ng-cloak layout="column" ng-controller="Demo.App.Controller as $ctrl">

<md-toolbar layout="row" class="md-toolbar-tools">
	<md-button class="menu md-icon-button"
				  ng-cloak
				  hide-gt-sm
				  ng-click="$ctrl.toggleMenu()"
				  aria-label="Show example list">
		<md-icon>menu</md-icon>
	</md-button>
	<h1>
		<a href=".">qgrid examples</a>
	</h1>
</md-toolbar>

<div flex layout="row">

	<md-sidenav class="md-whiteframe-4dp"
					md-is-locked-open="$mdMedia('gt-sm')"
					md-component-id="left"
					ng-click="$ctrl.toggleMenu()">
		<page-list items="$ctrl.pages"
					  selection="$ctrl.page"
					  selection-changed="$ctrl.onPageChanged($selection)">
		</page-list>
	</md-sidenav>

	<md-content flex id="content">
		<page-details selection="$ctrl.page"></page-details>
		<theme-selector items="$ctrl.themes"
							 selection="$ctrl.theme"
							 selection-changed="$ctrl.onThemeChanged($selection)">
		</theme-selector>
	</md-content>
</div>

</body>
</html>

<script src="./dist/vendor.js"></script>
<script src="./dist/demo.js"></script>
