<md-list ng-repeat="node in $ctrl.items track by node.title">
	<md-subheader ng-if="node.items">{{::node.title}}</md-subheader>
	<md-list-item ng-if="node.path" ng-class="{selected: node === $ctrl.selection}">
		<md-tooltip md-delay="500">
			{{::node.title}}
		</md-tooltip>
		<md-button ng-disabled="!node.code.html && !node.code.md"
					  ng-click="$ctrl.select(node)">
			{{::node.title}}
		</md-button>
	</md-list-item>
	<md-list-item ng-if="node.items" ng-repeat="item in node.items" ng-class="{selected: item === $ctrl.selection}">
		<md-tooltip md-delay="500">
			{{::item.title}}
		</md-tooltip>
		<md-button ng-disabled="!item.code.html && !item.code.md"
					  ng-click="$ctrl.select(item)">
			{{::item.title}}
		</md-button>
	</md-list-item>
</md-list>